<div _ngcontent-serverapp-c216="" class="gw-features-section snipcss-7FIdH">
  <div _ngcontent-serverapp-c216="" class="gw-section-inner">
    <div _ngcontent-serverapp-c216="" class="gw-features-list">
      <div _ngcontent-serverapp-c216="" class="gw-features-list-inner">
        <div _ngcontent-serverapp-c216="" class="gw-features-item animate-from-bottom style-xVK3x" data-sr-id="1" id="style-xVK3x">
          <div _ngcontent-serverapp-c216="" class="gw-item-image">
            <div _ngcontent-serverapp-c216="" class="gw-image-circle-border">
            </div>
            <img _ngcontent-serverapp-c216="" alt="Welcome Image 1" loading="lazy" src="/assets/body-first.jpg">
          </div>
          <div _ngcontent-serverapp-c216="" class="gw-item-text">
            <span _ngcontent-serverapp-c216="" gwtranslate="" gwrtl="" class="welcome-text" dir="ltr">
              Établir des contacts
            </span>
            <div _ngcontent-serverapp-c216="" gwrtl="" dir="ltr">
              <p _ngcontent-serverapp-c216="" gwtranslate="">
                Retrouvez d’anciens camarades d’études, prenez de leurs nouvelles et restez en contact.
              </p>
              <span _ngcontent-serverapp-c216="" gwtranslate="" class="welcome-text">
                Donner en retour
              </span>
              <p _ngcontent-serverapp-c216="" gwtranslate="">
                Recommandez nos étudiants sur le point d’obtenir leur diplôme, embauchez-les ou proposez de devenir leur mentor.
              </p>
              <span _ngcontent-serverapp-c216="" gwtranslate="" class="welcome-text">
                Étendre son réseau
              </span>
              <p _ngcontent-serverapp-c216="" gwtranslate="">
                Utilisez votre réseau professionnel pour être présenté aux personnes que vous devriez connaître.
              </p>
            </div>
          </div>
        </div>
        <div _ngcontent-serverapp-c216="" class="gw-features-item animate-from-bottom style-moJ1f" data-sr-id="2" id="style-moJ1f">
          <div _ngcontent-serverapp-c216="" class="gw-item-image">
            <div _ngcontent-serverapp-c216="" class="gw-image-circle-border">
            </div>
            <img _ngcontent-serverapp-c216="" alt="Welcome Image 2" loading="lazy" src="/assets/body-second.jpg">
          </div>
          <div _ngcontent-serverapp-c216="" gwrtl="" class="gw-item-text" dir="ltr">
            <span _ngcontent-serverapp-c216="" gwtranslate="" class="welcome-text">
              Reprendre contact avec ses anciens camarades d’études
            </span>
            <p _ngcontent-serverapp-c216="" gwtranslate="">
              Esprit Connect vous permet non seulement de reprendre contact avec d’anciens camarades d’études mais également de vous servir de l’environnement fiable de #site_name# pour élargir votre réseau professionnel.
            </p>
            <span _ngcontent-serverapp-c216="" gwtranslate="" class="welcome-text">
              Votre communauté Esprit
            </span>
            <p _ngcontent-serverapp-c216="" gwtranslate="">
              En vous intégrant pleinement dans des réseaux sociaux et en pratiquant une culture de l’aide et du don en retour, vous serez surpris par le dynamisme de votre communauté Esprit Connect&nbsp;!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-serverapp-c216="" class="gw-flex-container gw-flex-center margin-top--xxl">
<!--      <button _ngcontent-serverapp-c216="" mat-flat-button="" color="primary" gwtranslate="" class="mat-focus-indicator text-upper gw-btn gw-btn-blue gw-xs-rounded btn-get-started btn-get-started-bottom gw-hover mat-flat-button mat-button-base mat-primary">-->
<!--        Démarrer-->
<!--      </button>-->
    </div>
  </div>
</div>
