<div _ngcontent-serverapp-c216="" class="gw-jobs-preview ng-star-inserted snipcss-CPNmL">
  <div _ngcontent-serverapp-c216="" class="gw-section-inner">
    <div _ngcontent-serverapp-c216="" class="gw-section-title">
      <h5 _ngcontent-serverapp-c216="" gwtranslate="" gwrtl="" dir="ltr">
        Offres d’emplois récentes
      </h5>
    </div>
    <div _ngcontent-serverapp-c216="" class="gw-preview-items">
      <div _ngcontent-serverapp-c216="" class="gw-preview-inner">
        <div _ngcontent-serverapp-c216="" class="gw-preview-item ng-star-inserted">
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__top">
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__logo">
              <img _ngcontent-serverapp-c216="" loading="lazy" src="/assets/téléchargement.jpg" alt="Company logo">
            </div>
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__item">
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__title gw-h3">
                Développeur Dynamics 365
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-name gw-body-2">
                AIVENTU
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-address gw-caption">
                <i _ngcontent-serverapp-c216="" aria-hidden="true" _ngcontent-serverapp-c72="" class="material-icons tiny gw-vertical-align-middle">
                  location_on
                </i>
                Les Berges du Lac, Tunis, Tunisia
              </div>
            </div>
          </div>
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__description">
            <p>
              Le groupe AIVENTU, Editeur &amp; Intégrateur de Microsoft Dynamics 365,recrute pour ses projets à l'international des
              <span>
                <strong>
                  Consultants Technique / Développeurs Dynamics 365 F&amp;O
                </strong>
              </span>
            </p>
            <p>
              <br>
              <strong>
                Profil recherché :
              </strong>
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              ✔️ Vous maîtrisez : Les technologies Microsoft : C# ou X++, VisualStudio, .NET Framework, SQL Server.
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              ✔️ De formation Bac+5 en informatique ou équivalent.
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              ✔️ Un bon niveau de français et d’anglais (parlé et écrit).
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              📩 N'hésitez pas à m'envoyer vos CV&nbsp; par mail sur l'adresse: swissal@aiventu.com
            </p>
          </div>
        </div>
        <div _ngcontent-serverapp-c216="" class="gw-preview-item ng-star-inserted">
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__top">
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__logo">
              <img _ngcontent-serverapp-c216="" loading="lazy" src="/assets/STAGE.jpg" alt="Company logo">
            </div>
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__item">
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__title gw-h3">
                Offres de stages PFE et stages d'été-
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-name gw-body-2">
                Package center
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-address gw-caption">
                <i _ngcontent-serverapp-c216="" aria-hidden="true" _ngcontent-serverapp-c72="" class="material-icons tiny gw-vertical-align-middle">
                </i>
              </div>
            </div>
          </div>
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__description">
            <p>
              <strong>
                Package Center
              </strong>
              est à la recherche des stagiaires pour projet chez Package Center.
            </p>
            <p>
              &nbsp;
            </p>
            <p>
              Deux offres détaillées pour les postes recherchés ci-joint. Nous avons également inclus l'adresse e-mail pour les candidatures :
            </p>
            <p>
              <strong>
                <a>
                  recrutement@packagecenter.com
                </a>
              </strong>
            </p>
          </div>
        </div>
        <div _ngcontent-serverapp-c216="" class="gw-preview-item ng-star-inserted">
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__top">
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__logo">
              <img _ngcontent-serverapp-c216="" loading="lazy" src="/assets/logo-aiventu--wissal.jpg" alt="Company logo">
            </div>
            <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__item">
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__title gw-h3">
                Offre d'emploi-Support technico-fonctionnels &amp;IP junior
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-name gw-body-2">
                ATLANSE
              </div>
              <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__company-address gw-caption">
                <i _ngcontent-serverapp-c216="" aria-hidden="true" _ngcontent-serverapp-c72="" class="material-icons tiny gw-vertical-align-middle">
                  location_on
                </i>
                France
              </div>
            </div>
          </div>
          <div _ngcontent-serverapp-c216="" class="gw-jobs-preview__description">
            <p>
              <span>
                <strong>
                  ATLANSE
                </strong>
                recrute des jeunes diplômés en recherche de job sur Paris, des profils support technico-fonctionnels ou IP junior avec un bon niveau
                <span>
                  d’anglais.
                </span>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-serverapp-c216="" class="gw-flex-container gw-flex-center margin-top--xxl">
      <button _ngcontent-serverapp-c216="" type="button" mat-stroked-button="" color="primary" gwtranslate="" class="mat-focus-indicator text-upper gw-btn gw-btn-blue gw-xs-rounded btn-get-started btn-get-started-bottom gw-hover mat-stroked-button mat-button-base mat-primary">
        PLUS D'OFFRES D’EMPLOI
      </button>
    </div>
  </div>
</div>
