<!--<nav id="mainNav" class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3">-->
<!--  <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span><img class="img-fluid w-25" src="../../../assets/img/illustrations/logo.png" /></span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--    <div id="navcol-1" class="collapse navbar-collapse">-->
<!--      <ul class="navbar-nav mx-auto">-->
<!--        <li class="nav-item"><a class="nav-link active" href="../../../index.html">Home</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="" href="#">Features</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" routerLink="backdash" href="#">dashboard</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#">Integrations</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>-->
<!--        <li class="nav-item"><a class="nav-link" href="#">Contacts</a></li>-->
<!--      </ul><a class="btn btn-danger shadow" role="button" routerLink="singUp" >Sign up</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<div _ngcontent-serverapp-c211="" class="gw-header wrapper header-color snipcss-xojVV">
  <header _ngcontent-serverapp-c211="" class="gw-align-center">
    <div _ngcontent-serverapp-c211="" _nghost-serverapp-c201="">
      <a _ngcontent-serverapp-c201="" class="gw-logo" href="/home">
        <img _ngcontent-serverapp-c201="" loading="lazy" src="https://dx5i3n065oxey.cloudfront.net/platform/50238/assets/logo.png?v=e8cca31a-d7c0-4898-9269-33d7cfcd4fca" alt="Esprit">
      </a>
    </div>
    <div _ngcontent-serverapp-c211="" class="gw-flex-item margin-right--xs ng-star-inserted">
      <button _ngcontent-serverapp-c211="" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
        <span class="mat-button-wrapper">
          JOIN NOW
        </span>
        <span matripple="" class="mat-ripple mat-button-ripple">
        </span>
        <span class="mat-button-focus-overlay">
        </span>
      </button>
    </div>
    <div _ngcontent-serverapp-c211="" class="gw-flex-item gw-no-flex gw-xs-order-1 gw-sign-in-wrap ng-star-inserted style-24XUJ" id="style-24XUJ">
      <button _ngcontent-serverapp-c211="" type="button" aria-controls="login-popover" class="gw-sign-in header-link-color btn-link-focusable" aria-expanded="false">
        <span _ngcontent-serverapp-c211="">
          <i _ngcontent-serverapp-c211="" aria-hidden="true" class="material-icons">
            person
          </i>
        </span>
        <span _ngcontent-serverapp-c211="">
          S’identifier
        </span>
      </button>
    </div>
    <div _ngcontent-serverapp-c211="" class="language-select-container gw-flex-item gw-no-flex gw-xs-order-3 ng-star-inserted">
      <div _ngcontent-serverapp-c211="" tabindex="0" class="gw-language-select header-link-color">
        <span _ngcontent-serverapp-c211="">
          <i _ngcontent-serverapp-c211="" aria-hidden="true" class="material-icons language">
            language
          </i>
        </span>
        <div _ngcontent-serverapp-c211="" rapp-c211="" role="combobox" aria-autocomplete="none" aria-haspopup="true" tabindex="-1" class="mat-select ng-tns-c67-7 mat-select-empty ng-untouched ng-pristine ng-valid ng-star-inserted" aria-labelledby="mat-select-value-1" id="mat-select-0" aria-expanded="false" aria-required="false" aria-disabled="false" aria-invalid="false">
          <div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c67-7">
            <div class="mat-select-value ng-tns-c67-7" id="mat-select-value-1">
              <span class="mat-select-placeholder mat-select-min-line ng-tns-c67-7 ng-star-inserted">
              </span>
            </div>
            <div class="mat-select-arrow-wrapper ng-tns-c67-7">
              <div class="mat-select-arrow ng-tns-c67-7">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
